# compilation and distribution
__pycache__
_ext
*.pyc
*.so
*.egg-info/
build/
dist/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
*.pt

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/

# Editor temporaries
*.swn
*.swo
*.swp
*~
.DS_Store

# Pycharm editor settings
.idea

# project dirs
/datasets
/models
/data